

S3method(lines,ppslp)
S3method(plot,ppslp)
S3method(points,ppslp)
export(analysis_plot)

export(cv_grid)
export(cv_smooth)
export(cv_length)

export(grid_simulation)
export(smooth_simulation)
export(length_simulation)

export(f_Animeppslp)
export(f_ppslp)
export(pp_plot)
export(whiskers)
export(xy_fix)
export(xy_truth)
export(y_generator)
import(princurve)
import(parallel)
import(splines)
importFrom(graphics,lines)
importFrom(graphics,plot)
importFrom(graphics,points)
importFrom(graphics,segments)
importFrom(Rcpp, sourceCpp)
useDynLib(ppslp)